<div class="w-full border-2 border-white p-8 flex flex-col">
  <DetailBand @band={{this.model}} @description={{this.model.description}} />
  <button class="btnPrimary self-end mt-4"
    type="button"
  >
    Editer
  </button>
</div>