<div class="w-128">
  <h2>Les musiques de <span class="text-blue-500">{{this.model.name}}</span> :</h2>
  {{#each this.model.songs as |song|}}
    <div class="flex justify-between">
      <div>
        {{song.title}} <span class="text-teal-200 text-sm">by {{get song.band "name"}}</span>
      </div>  
      <span>{{song.rating}}</span>
    </div>
  {{/each}}
</div>