<div class="h-128 flex justify-center items-center w-full">
  <div class="la-line-scale-pulse-out-rapid la-2x text-blue-400">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <h2 class="ml-4">Chargement...</h2>
</div>